@import url('https://fonts.googleapis.com/css2?family=Macondo&display=swap');

* {
    font-family: 'Macondo', cursive;
}

table, th, td {
    text-align: center;
    border: 1px solid #743414;
    background: #FAFAFA;
    padding: .5rem;
}

table {
    margin-right: auto;
    margin-left: auto;
}

nav {
    padding: 1rem;
    background-color: #95b5d2;
    text-align: center;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 0.5rem;
}

nav a:hover {
    background-color: #547192;
}

form {
    margin: 2rem;
    padding: 2rem;
    width: fit-content;
}

fieldset {
    dispaly: flex;
    border: 1px solid #743414;
    padding: 2rem;
    width: 75%;
    background: #FAFAFA;
}

input[type=text], select {
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

legend {
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 2rem;
}

h1 {
    margin-top: 1rem;
    text-align: center;
    color: #c4b1c9;
}

h3 {
    text-align: center;
    margin: 2rem;
}
button {
    margin-top: 1rem;
}

p {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
}