<!-- main.hbs-->



<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/styles.css" type="text/css">
    <title>Gandalf's Academy</title>
</head>
<body>

    {{{body}}}

</body>
</html>