<!-- Index.hbs -->
<h1>Gandalf's Academy</h1>
<p>Headmaster Gandalf runs a world-renowned academy for the brightest young Wizards 🧙</p>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

<nav>
  <a href ='/'>Home</a>
  <a href ='/Books'>Books</a>
  <a href ='/Students'>Students</a>
  <a href ='/Professors'>Professors</a>
  <a href ='/Classes'>Classes</a>
  <a href ='/Class_Shedules'>Class_Schedules</a>
  <a href ='/Houses'>Houses</a>
  <a href ='/Spells'>Spells</a>
  <a href ='/Students_Has_Books'>Students_Has_Books</a>
  <a href ='/Students_Has_Classes'>Students_Has_Classes</a>
  <a href ='/Books_Has_Spells'>Books_Has_Spells</a>
</nav>